* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

.event-content {
    width: 100%;
}

.event-content .section-content {
    width: 85%;
    margin: 21px auto;

}

.event-content .section-content .title {
    width: 60%;
    text-align: center;
    margin: auto;
}

.event-content .section-content .title h2 {
    font-size: 45px;
    color: rgb(77, 75, 75);
    text-transform: uppercase;
}

.event-content .section-content .title p {
    font-size: 19px;
    color: #5b5b5b;
    margin-top: 20px;
}

.event-content .section-content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 24px auto;
}